.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #333;
  padding-left: 10px;
  padding-right: 10px;

  &__row {
    display: flex;
    justify-content: center;
  }
  &__col {
    flex-direction: column;

    &1 {
      align-items: flex-end;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__p {
    align-self: center;
    max-width: max-content;
    color: #fff;
  }

  &__hr {
    border-color: #fff;
  }

  &__signature {
    color: #666;
  }

}
