.form {
  margin-left: $gutter;
  margin-right: $gutter;

  &__heading {
    font-family: "Roboto Slab", georgia, serif;
    font-size: 18px;
    font-weight: 500;
    word-break: break-all;
  }

  &__row {
    margin-top: 4*$gutter;
    margin-bottom: 4*$gutter;
    justify-content: space-around;

    @media (max-width: 400px) {
      margin-top: $gutter;
      margin-bottom: $gutter;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    padding: 1px;
    border: 1px solid #999;
    border-radius: 2px;
  }

  &__div {
    display: flex;
    margin-top: $gutter;
    flex-direction: column;

    .radio {
      padding-bottom: $gutter;

      &:last-child {
        margin-bottom: -$gutter;
      }

      &__button {
        margin-right: $gutter;
      }
    }
  }

  &__select {
    display: flex;

    &-select {
      margin-right: $gutter;
      flex-grow: 1;
      border: 1px solid #999;
      border-radius: 2px;
    }

    &__content {
      flex-grow: 1;
    }
  }

  &__button {
    min-width: 16em;
    align-self: center;
  }
}
