.heading {
  width: 100%;
  padding: 0;
  font-family: Roboto Slab, georgia, serif;
  font-size: 2rem;
  border: 0;

  &--one {
    font-size: 3rem;
    font-weight: bold;
    font-family: Roboto Slab, georgia, serif;
    padding-left: 1rem;
  }

  &--two {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: Roboto Slab, georgia, serif;
  }

  &--three {
    font-size: 1rem;
    font-family: Roboto Slab, georgia, serif;
  }
}
