.heading {
  width: 100%;
  padding: 0;
  font-family: "Roboto Slab", georgia, serif;
  font-size: 2rem;
  border: 0;

  &--one {
    padding-left: 1rem;
    font-family: "Roboto Slab", georgia, serif;
    font-size: 4.5rem; // 72px
    font-weight: bold;
  }

  &--two {
    font-size: 3rem; // 48px
  }

  &--three {
    font-size: 2.25rem; // 36px
  }

  &--four {
    font-size: 1.5rem;
  }

  &--light {
    font-weight: lighter;
  }

  &--about {
    padding-bottom: 1rem;
    font-weight: bolder;
  }
}
