.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);

  &__links {
    display: flex;
    align-items: baseline;
    padding: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;

    &__link {
      color: #fff;
      text-decoration: none;
    }
  }
}
