@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden; }

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8); }

.heading {
  width: 100%;
  padding: 0;
  font-family: Roboto Slab, georgia, serif;
  font-size: 2rem;
  border: 0; }
  .heading--one {
    font-size: 3rem;
    font-weight: bold;
    font-family: Roboto Slab, georgia, serif;
    padding-left: 1rem; }
  .heading--two {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: Roboto Slab, georgia, serif; }
  .heading--three {
    font-size: 1rem;
    font-family: Roboto Slab, georgia, serif; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  display: flex;
  padding: 10px; }
  .col-12 {
    width: 100%; }
  .col-11 {
    width: 91.66667%; }
  .col-10 {
    width: 83.33333%; }
  .col-9 {
    width: 75%; }
  .col-8 {
    width: 66.66667%; }
  .col-7 {
    width: 58.33333%; }
  .col-6 {
    width: 50%; }
  .col-5 {
    width: 41.66667%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 16.66667%; }
  .col-1 {
    width: 8.33333%; }
  @media (max-width: 600px) {
    .col-md-12 {
      width: 100%; }
    .col-md-11 {
      width: 91.66667%; }
    .col-md-10 {
      width: 83.33333%; }
    .col-md-9 {
      width: 75%; }
    .col-md-8 {
      width: 66.66667%; }
    .col-md-7 {
      width: 58.33333%; }
    .col-md-6 {
      width: 50%; }
    .col-md-5 {
      width: 41.66667%; }
    .col-md-4 {
      width: 33.33333%; }
    .col-md-3 {
      width: 25%; }
    .col-md-2 {
      width: 16.66667%; }
    .col-md-1 {
      width: 8.33333%; } }
  @media (max-width: 400px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-11 {
      width: 91.66667%; }
    .col-sm-10 {
      width: 83.33333%; }
    .col-sm-9 {
      width: 75%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-7 {
      width: 58.33333%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-5 {
      width: 41.66667%; }
    .col-sm-4 {
      width: 33.33333%; }
    .col-sm-3 {
      width: 25%; }
    .col-sm-2 {
      width: 16.66667%; }
    .col-sm-1 {
      width: 8.33333%; } }

.header--index {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 2em;
  background: transparent url("img/bg.jpg") no-repeat fixed 50% 0;
  background-size: contain;
  justify-content: center; }
  .header--index__title {
    display: flex;
    padding: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.header--about {
  background: transparent url("img/bg-subpage.jpg") no-repeat fixed 0 0; }

.header--subpage {
  display: flex;
  min-height: 500px;
  color: #fff;
  background-image: url("img/bg-subpage.jpg");
  background-size: cover;
  align-items: center; }

.button {
  display: inline-block;
  max-width: 256px;
  padding: 0.5rem;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms, color 500ms; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.footer {
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  background-color: #333; }
  .footer__row {
    display: flex;
    justify-content: space-around; }
  .footer__col {
    flex-direction: column; }
    .footer__col1 {
      align-items: flex-end; }
    .footer__col2 {
      align-items: flex-start; }
  .footer__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .footer__p {
    align-self: center;
    max-width: max-content;
    color: #fff; }
  .footer__hr {
    border-color: #fff; }
  .footer__signature {
    color: #666; }

.form__heading {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto Slab, georgia, serif; }

.form__row {
  margin-top: 4em;
  margin-bottom: 4em;
  justify-content: space-around; }
  @media (max-width: 400px) {
    .form__row {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap; } }

.form__col {
  display: flex;
  flex-direction: column; }

.form__input {
  width: 100%; }

.form__div {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column; }
  .form__div .radio {
    margin-top: 15px; }
    .form__div .radio__button {
      margin-right: 15px; }

.form__button {
  min-width: 16em;
  align-self: center; }

.text__p {
  padding-bottom: 1em; }

.text__row {
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch; }

.text__blockquote {
  align-self: center;
  justify-content: center; }

.text__blockquote-text {
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 1em; }

.text__blockquote-author {
  font-style: normal;
  font-size: 1em; }

.text__about {
  margin-top: 4em;
  margin-left: 1rem; }
