// breytur fyrir mikið notaðar stærðir
$small-width: 400px;
$medium-width: 600px;
$max-width: 1200px;
$gutter: 20px;

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line a
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  // til þess að texti liggi ekki upp við brún á viewport þegar
  // við erum < 1200px breiðum skjá, setjum margin á báða kanta html
  // ruglar líka ekki í grid overlay
  margin-right: $gutter;
  margin-left: $gutter;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  min-width: $small-width;
  max-width: $max-width;
  margin: 0 auto;

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;
}

//menu
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
// heading
.heading {

  width: 100%;
  padding: 0;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem;
  border: 0;

  &--one {
    font-size: 3rem;
  }

  &--two {
    font-size: 2rem;
    color: #00f;
  }

  &--three {
    font-size: 1rem;
  }
}
//grid
.header {/* stylelint-disable-line */
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 2em;
  background-size: cover;

  &__index {
    background: transparent url("bg.jpg") no-repeat fixed 0 0;
  }

  &__about {
    background: transparent url("bg.jpg") no-repeat fixed 0 0;
  }

  &__purchase {
    background: transparent url("bg.jpg") no-repeat fixed 0 0;
  }
}
// button
.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms, color 500ms;

  &:hover {
    color: #eee;
    background-color: #333;
  }
}
//footer

/*
@import "scss/menu";
@import "scss/heading";
@import "scss/grid";
@import "scss/header";
@import "scss/button";
@import "scss/footer";
*/
